<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>

    {% block headCss %}{% endblock %}
    {% block addCss %}{% endblock %}
    <style> {% block style %}{% endblock %} </style>

</head>

<body>
    <header>
        {% block header %}Default Header{% endblock %}
    </header>
   

    <main>
        {% block content %}Default Header{% endblock %}
    </main>


    <footer>
        {% block footer %}Default Footer{% endblock %}
    </footer>
</body>

</html>
